body{
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
}

.heading{
    width: 100%;
    border-color: red;
}

.note{
    color: black;    
}

canvas{
    border: 5px dotted red; 
}